<!doctype html>
<title>Stock value plotter - Aniket Aranake milestone project</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.js" ></script>
{{bokeh_script|safe}}

<div class=page>

  <h1> User Input</h1>

  <div class=metanav>

  <h4>
  Select a date:
  </h4>

  <form id='dateform' method='get' action='/plot'>
    <p>
      Date: <input type='text' id='inputdate' name='inputdate'>
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
  </div>

</div>
<div align="center">
{{bokeh_div|safe}}
</div>
{{note}}
