<html><body>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    function colorscale(scale_val) {
        var ratio = 2 * scale_val
        var b = (Math.max(0, 255*(1 - ratio))) | 0
        var r = (Math.max(0, 255*(ratio - 1))) | 0
        var g = 255 - b - r 
        return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
    }

    map = new OpenLayers.Map("mapdiv");
    var layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
            "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
    map.addLayer(layer);

    // Zoom and centering set to California
    var lonLat = new OpenLayers.LonLat( -121.237406, 37.922592)
         // .transform(
         //   new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
         //   map.getProjectionObject() // to Spherical Mercator Projection
         // );
    var zoom=6;
 
    /*
     * Layer style
     */
    var layer_style = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
    layer_style.fillOpacity = 0.2;
    layer_style.graphicOpacity = 1;

    /*
     * Marker style
     */
    var marker_style = {
        strokeColor: "#00FF00",
        strokeWidth: 0,
        fillColor: "#00FF00",
        graphicName: "circle",
        pointRadius: 5,
        fillOpacity: 0.5,
        title: "this is a green line"
    };

    var vectorLayer = new OpenLayers.Layer.Vector("Simple Geometry", {
        style: layer_style,
    });

    map.addLayer(vectorLayer);
    map.setCenter (lonLat, zoom);

    // The following code adds all of the points
    for (i=0; i<10; i++) {
        vectorLayer.addFeatures([
          new OpenLayers.Feature.Vector(
              new OpenLayers.Geometry.Point(-122.14+i*1e-3, 37.428),
              null,
              {fillColor: colorscale(i/9.),pointRadius: 5, fillOpacity: 0.5, strokeWidth: 0})
          ])
    }
    
  </script>
</body></html>
